@import "westyle/src/variables";
@import "westyle/src/mixins";

/* API Explorer
	 ========================================================================== */

.explorer-title {
	color: rgba($primary, .8);
	font-size: 28px;
	margin: 60px 0 30px;
}

.explorer-title-label {
	position: relative;
	top: -3px;
	margin-right: 8px;
}

.explorer-title-name {
	font-family: $font-family-secondary;
	font-weight: 500;
	margin-left: 4px;
	position: relative;
	top: 3px;
}

.explorer-data,
.explorer-visibility {
	float: right;
	margin-right: 5px;
	position: relative;
}

.explorer-visibility {
	margin-right: 15px;
}

.explorer-data-icon,
.explorer-visibility-icon {
	background: $white;
	border-radius: 50%;
	position: relative;
}

.explorer-data-icon.icon-12-check,
.explorer-visibility-icon.icon-12-check {
	border: 1px solid $brand-success;
	color: $brand-success;
	padding: 4px 5px 6px;
}

.explorer-data-icon.icon-12-close-short,
.explorer-visibility-icon.icon-12-close-short {
	border: 1px solid $brand-danger;
	color: $brand-danger;
	padding: 5px 6px;
}

.explorer-data-label,
.explorer-visibility-label {
	color: rgba($primary, .7);
	font-size: 12px;
	position: relative;
	left: 5px;
	top: -2px;
}

.explorer-description {
	color: rgba($primary, .5);
	margin-bottom: 20px;
}

// Section / Authentication ----------------------------------------------------

.explorer-section-auth .label {
	margin-bottom: 10px;
	margin-right: 10px;
}

// Section / Params ------------------------------------------------------------

.explorer-section-params {
	border: 1px solid rgba($primary, .2);
	border-radius: $border-radius-base;
	padding: 10px 0 0 20px;
}

.explorer-section-params .explorer-icon-required {
	color: $brand-success;
}

// Section / Body --------------------------------------------------------------

.explorer-section-body {
	display: none;
}

.explorer-section-body-container.expanded .explorer-section-body {
	display: block;
}

.explorer-section-body .CodeMirror {
	padding-left: 10px;
	margin-bottom: 25px;
}

.explorer-section-body-toggler {
	@include anim(color);
	color: rgba(35, 50, 64, 0.4);
	font-size: 11px;
	margin: 20px 0 15px 0;
	text-transform: uppercase;
}

.explorer-section-body-toggler:hover,
.explorer-section-body-toggler:focus {
	color: rgba(35, 50, 64, 0.8);
}

// Section / Try it out --------------------------------------------------------

.explorer-section-try {
	border: 1px solid rgba($primary, .2);
	border-radius: $border-radius-base;
	padding: 30px 30px 0;
	margin-bottom: 60px;
}

.explorer-section-try .explorer-icon-required {
	color: $brand-danger;
}

.explorer-section-try-param {
	margin-bottom: 10px;
}

.explorer-section-try .input-group:last-child {
	margin-bottom: 25px;
}

.explorer-section-try {
	.dropdown-menu,
	.dropdown-select,
	.explorer-section-try-method {
		text-transform: uppercase;
	}
}

.explorer-section-try .explorer-section-try-method {
	border: 1px solid rgba($brand-primary, .2);
	border-right: none;
	color: rgba($primary, .6);
	padding: 0 20px;
}

.explorer-section-try-icon {
	@include anim(color);
	z-index: 90;
	cursor: pointer;
}

.explorer-section-try-icon:hover,
.explorer-section-try-icon:focus {
	color: rgba($primary, .6);
}

.explorer-real-time-container {
	padding-right: 45px;
	text-align: right;
}

.explorer-real-time-label {
	color: rgba($primary, .6);
	display: inline-block;
	position: relative;
	top: -5px;
}

.explorer-real-time-container .switcher {
	display: inline-block;
	margin-left: 8px;
	position: relative;
	top: 2px;
}

// Section / Snippets ----------------------------------------------------------

.explorer-section-snippets {
	margin: 25px 0;
}

.explorer-section-snippets-copy {
	float: right;
	font-size: 12px;
	line-height: 10px;
	margin: -5px 30px 0 0;
	padding: 10px;
}

.explorer-section-snippets .CodeMirror {
	height: auto;
}

// Section / Response ----------------------------------------------------------

.explorer-status-container {
	border: 1px solid rgba($brand-primary, .2);
	border-radius: 4px 4px 0 0;
	padding: 40px 0 23px;
	text-align: center;
}

.explorer-status-streaming {
	color: rgba($primary, .6);
	display: none;
	float: left;
	margin-left: 30px;
}

.explorer-status-streaming-pulse {
	-webkit-animation-name: greenPulse;
	animation-name: greenPulse;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
}

@-webkit-keyframes greenPulse {
	from {
		background-color: darken($brand-success, 20%);
		box-shadow: 0 0 1px darken($brand-success, 20%);
	}
	50% {
		background-color: $brand-success;
		box-shadow: 0 0 15px darken($brand-success, 20%);
	}
	to {
		background-color: darken($brand-success, 20%);
		box-shadow: 0 0 1px darken($brand-success, 20%);
	}
}

@keyframes greenPulse {
	from {
		background-color: darken($brand-success, 20%);
		box-shadow: 0 0 1px darken($brand-success, 20%);
	}
	50% {
		background-color: $brand-success;
		box-shadow: 0 0 15px darken($brand-success, 20%);
	}
	to {
		background-color: darken($brand-success, 20%);
		box-shadow: 0 0 1px darken($brand-success, 20%);
	}
}

.real-time .explorer-status-streaming {
	display: inline;
}

.explorer-status {
	border-radius: $border-radius-base;
	border: 1px solid rgba($primary, .6);
	color: rgba($primary, .8);
	font-size: 13px;
	padding: 10px 13px;
}

.explorer-status.explorer-status-1xx {
	color: $primary;
	border-color: $primary;
}

.explorer-status.explorer-status-2xx {
	color: $brand-success;
	border-color: $brand-success;
}

.explorer-status.explorer-status-3xx {
	color: $brand-warning;
	border-color: $brand-warning;
}

.explorer-status.explorer-status-4xx,
.explorer-status.explorer-status-5xx {
	color: $brand-danger;
	border-color: $brand-danger;
}

.explorer-code-container .CodeMirror {
	border-top: 0;
	border-radius: 0 0 4px 4px;
	height: auto;
}

.explorer-code-container .CodeMirror-focused {
	border-color: rgba($primary, .2);
}
