@import "steel-bootstrap/src/variables";
@import "steel-bootstrap/src/mixins";

/* API Common CSS
	 ========================================================================== */

.api-section-title {
	color: rgba($primary, .6);
	font-size: 11px;
	margin: 40px 0 10px;
	text-transform: uppercase;
}

.api-section-title-link {
	@include anim(color);
	color: rgba($primary, .2);
	position: relative;
	top: 1px;
	left: 5px;
}

.api-section-title-link:hover,
.api-section-title-link:focus {
	color: rgba($primary, .6);
}
