@import "westyle/src/variables";
@import "westyle/src/mixins";
@import "metal-switcher/src/switcher";

/* API Builder
	 ========================================================================== */
.builder-title {
	margin: 60px 0 32px;
}

.builder-title .form-control-borderless {
	color: rgba($primary, .8);
	font-size: 20px;
	width: 516px;
}

.builder-data,
.builder-visibility {
	float: right;
	position: relative;
}

.builder-data-label,
.builder-visibility-label {
	color: rgba($primary, .7);
	font-size: 12px;
	margin-left: 2px;
	position: relative;
	top: -5px;
}

.builder-data-switcher,
.builder-visibility-switcher {
	display: inline-block;
	margin-left: 25px;
	position: relative;
	top: 3px;
}

.builder-description .form-control-borderless {
	color: rgba($primary, .8);
	width: 100%;
}

.builder-section-body,
.builder-section-params {
	border: 1px solid rgba($primary, .2);
	border-radius: $border-radius-base;
}

.builder-section-body .builder-param-item:last-child {
	border-bottom: none;
}

.builder-param-switcher-container {
	margin-bottom: 10px;
}

.builder-param-switcher {
	display: inline-block;
	margin-left: 8px;
	position: relative;
	top: 36px;
}

.builder-param-label {
	color: rgba($primary, .4);
	position: relative;
	top: 30px;
	margin: 0 8px;
}

.builder-param-ellipsis {
	@include anim(color);
	color: rgba($primary, .4);
	position: relative;
	top: 40px;
}

.builder-param-ellipsis:hover,
.builder-param-ellipsis:focus {
	color: rgba($primary, .8);
}

.builder-param-item {
	border-bottom: 1px solid rgba($primary, .2);
	padding: 45px 15px;
	margin: 0;
}

.builder-param-item-row {
	margin: 0 0 10px;
}

.builder-param-item-advanced {
	.builder-param-item-row {
		display: none;
	}
}

.builder-param-item-advanced.expanded {
	.builder-param-item-row {
		display: block;
	}
}

.builder-param-item-advanced-btn {
	@include anim(color);
	color: rgba(35, 50, 64, 0.4);
	font-size: 11px;
	margin: 20px 0 15px 15px;
	text-transform: uppercase;
}

.builder-param-item-advanced-btn:hover,
.builder-param-item-advanced-btn:focus {
	color: rgba(35, 50, 64, 0.8);
}

.builder-param-item-row .CodeMirror,
.builder-section-auth .CodeMirror {
	height: 52px;
}

.builder-param-actions .dropdown-menu {
	margin: 40px 0 0 -60px;
}

.builder-param-more {
	padding: 45px 15px;
	margin: 0;
}

.builder-param-more .btn,
.builder-param-more .icon-16-plus {
	font-weight: 400;
}

.builder-section-auth,
.builder-section-auth-roles,
.builder-section-auth-permissions {
	border: 1px solid rgba($primary, .2);
	border-radius: $border-radius-base;
	padding: 0 30px;
	margin-bottom: 20px;
}

.builder-section-handler .CodeMirror {
	padding-left: 10px;
}

.builder-section-auth {
	padding-top: 50px;
	padding-bottom: 50px;
}

.builder-section-auth-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.builder-section-auth-roles,
.builder-section-auth-permissions {
	margin-bottom: 20px;
	padding-bottom: 50px;
	width: calc(50% - 10px);
}

.builder-section-auth-permissions {
	margin-left: 20px;
}
