@import "steel-bootstrap/src/variables";
@import "steel-bootstrap/src/mixins";

/* API Explorer
	 ========================================================================== */

.explorer-title {
	color: rgba($primary, .8);
	font-size: 28px;
	margin: 60px 0 30px;
}

.explorer-title-label {
	position: relative;
	top: -3px;
	margin-right: 8px;
}

.explorer-title-name {
	font-family: $font-family-secondary;
	font-weight: 500;
	margin-left: 4px;
	position: relative;
	top: 3px;
}

.explorer-visibility {
	float: right;
	margin-right: 5px;
	position: relative;
}

.explorer-visibility-icon {
	background: $white;
	border-radius: 50%;
	position: relative;
}

.explorer-visibility-icon.icon-12-check {
	border: 1px solid $brand-success;
	color: $brand-success;
	padding: 4px 5px 6px;
}

.explorer-visibility-icon.icon-12-close-short {
	border: 1px solid $brand-danger;
	color: $brand-danger;
	padding: 5px 6px;
}

.explorer-visibility-label {
	color: rgba($primary, .7);
	font-size: 12px;
	position: relative;
  left: 5px;
  top: -2px;
}

.explorer-description {
	color: rgba($primary, .5);
	margin-bottom: 20px;
}

// Section / Authentication ----------------------------------------------------

.explorer-section-auth .label {
	margin-bottom: 10px;
	margin-right: 10px;
}

// Section / Params ------------------------------------------------------------

.explorer-section-params {
	border: 1px solid rgba($primary, .2);
	border-radius: $border-radius-base;
	padding: 10px 0 0 20px;
}

.explorer-section-params .explorer-icon-required {
	color: $brand-success;
}

// Section / Try it out --------------------------------------------------------

.explorer-section-try {
	border: 1px solid rgba($primary, .2);
	border-radius: $border-radius-base;
	padding: 30px 30px 0;
	margin-bottom: 60px;
}

.explorer-section-try .explorer-icon-required {
	color: $brand-danger;
}

.explorer-section-try-param {
	margin-bottom: 10px;
}

.explorer-section-try .row:first-child {
	margin-bottom: 10px;
}

.explorer-section-try .row:last-child {
	margin-bottom: 20px;
}

.explorer-section-try .input-group:last-child {
	margin-bottom: 25px;
}

.explorer-section-try {
	.dropdown-menu,
	.dropdown-select,
	.explorer-section-try-method {
		text-transform: uppercase;
	}
}

.explorer-section-try .explorer-section-try-method {
  border: 1px solid rgba($brand-primary, .2);
  border-right: none;
  color: rgba($primary, .6);
	padding: 0 20px;
}

.explorer-section-try-icon {
	@include anim(color);
	z-index: 90;
	cursor: pointer;
}

.explorer-section-try-icon:hover {
	color: rgba($primary, .6);
}

// Section / Response ----------------------------------------------------------

.explorer-status-container {
	border-top: 1px solid rgba($brand-primary, .2);
	border-bottom: 1px solid rgba($brand-primary, .2);
	padding: 40px 0;
	text-align: center;
	margin-left: -30px;
	margin-right: -30px;
}

.explorer-status {
	border-radius: $border-radius-base;
	border: 1px solid rgba($primary, .6);
	color: rgba($primary, .8);
	font-size: 13px;
	padding: 10px 13px;
}

.explorer-status.explorer-status-1xx {
	color: $primary;
	border-color: $primary;
}

.explorer-status.explorer-status-2xx {
	color: $brand-success;
	border-color: $brand-success;
}

.explorer-status.explorer-status-3xx {
	color: $brand-warning;
	border-color: $brand-warning;
}

.explorer-status.explorer-status-4xx,
.explorer-status.explorer-status-5xx {
	color: $brand-danger;
	border-color: $brand-danger;
}

.explorer-code-container .CodeMirror {
	border: 0;
	height: 400px;
	margin-left: -20px;
	margin-right: -30px;
}
